<p>add works!</p>

<h1><strong>ADD/EDIT </strong></h1>

<form  [formGroup]="merchant"
class="example-form" (ngSubmit)="adddata()">

<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name"      placeholder="Enter Your Name">
    
    
  </mat-form-field>



  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email"      placeholder="Ex. pat@example.com">
    
    
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone</mat-label>
    <input type="phone" matInput formControlName="phone"      placeholder="Enter Valid Phone Number">
    
   
  </mat-form-field>




  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>DOB</mat-label>
    <input type="date" matInput formControlName="dob"      placeholder="Enter You DOB">
    
    
  </mat-form-field>


  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label></mat-label>
    <input  matInput formControlName="countrycode"(countryChange)="true" 
     ng2TelInput   placeholder="select country code">
    
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Address</mat-label>
    <input type="address" matInput formControlName="address" 
    

 placeholder="Enter valid Address" >
    
   
  </mat-form-field>

<button mat-raised-button color="accent"> Submit</button>
 <button mat-raised-button color="accent" (click)="updatedata()"> Update</button>

</form>


